@import "../theme";

.watermark {
  display: none;

  @include query("lg") {
    position: absolute;
    display: block;
    right: calc(-240px - 2rem);
    top: 0;
  }

  &[data-el="showcase"] {
    @include query("md") {
      top: unset;
      right: unset;
      z-index: 10;
      left: calc(-240px - 2rem);
      bottom: 0;
    }
  }
}
