@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&display=swap");

:root {
  --color-primary: hsl(22, 89%, 52%);
  --color-secondary: hsl(22, 100%, 69%);

  --color-tertiary: hsl(220, 50%, 17%);
  --color-tertiary-shade: hsl(221, 23%, 58%);

  --color-light-gray: hsl(198, 28%, 93%);
  --color-white: hsl(0, 0%, 100%);

  --font-sans: "Barlow";
}

$breakpoints: (
  "sm": 23.43rem,
  "md": 48rem,
  "lg": 90rem,
) !default;
