@import "./theme";

@mixin query($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-tertiary {
  color: var(--color-tertiary);
}

.color-tertiary-shade {
  color: var(--color-tertiary-shade);
}

.color-light-gray {
  color: var(--color-light-gray);
}

.color-white {
  color: var(--color-white);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-tertiary {
  background-color: var(--color-tertiary);
}

.bg-tertiary-shade {
  background-color: var(--color-tertiary-shade);
}

.bg-light-gray {
  background-color: var(--color-light-gray);
}

.bg-white {
  background-color: var(--color-white);
}

.font-sans {
  font-family: var(--font-sans);
}
