@import "./theme";

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-items-center {
  align-items: center;
}

.flex-wrap-column {
  flex-flow: column wrap;
}

.space-between {
  justify-content: space-between;
}

.container {
  max-width: 1110px;
  padding-inline: 1.5rem;

  @include query("md") {
    margin-inline: auto;
  }
}

.splitter {
  > :last-child {
    margin-top: 1rem;
  }

  display: flex;

  @include query("md") {
    > * {
      flex-grow: 1;
    }

    > :last-child {
      margin-top: 0;
      margin-left: 1rem;
      min-width: 22rem;
    }
  }
}

.wrapper {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.text-align-left {
  text-align: center;
}

.text-align-center {
  text-align: center;
}

.one-word-per-line {
  word-spacing: 100vw;
}

.border-radius {
  border-radius: 16px;
}

.grid {
  display: grid;
}
